<div class="banner grid">
    <div class="banner__content column-8">
        <img class="banner__image" src="/assets/img/map--ireland.png" />
        <div class="banner__contentText">
            <h2 class="banner__title">Applying to Basic Specialist Training (BST) in Ireland</h2>
            <p class="banner__text">Applying to BST can feel overwhelming, but with the right preparation, you can navigate the process confidently. This guide breaks down the key steps, requirements, and tips to help you submit a strong application.</p>
        </div>
    </div>
    <div class="banner__buttons">
        <a href="/basic-specialist-training/applying-to-bst/" class="button button--secondary button--white">
            Read our article
            <img class="button__icon" src="/assets/img/icon--arrowRightCircle--white.svg" />
        </a>
    </div>
</div>