<div class="banner grid">
    <div class="banner__content column-8">
        <img class="banner__image" src="/assets/img/map--ireland.png" />
        <div class="banner__contentText">
            <h2 class="banner__title">Ireland’s most competitive medical specialties</h2>
            <p class="banner__text">Explore the most sought-after medical specialties in Ireland and what makes them so competitive. From limited training spots to high prestige and lifestyle perks, learn which fields stand out — and what it takes to get in.</p>
        </div>
    </div>
    <div class="banner__buttons">
        <a href="#" class="button button--secondary button--white">
            Read our article
            <img class="button__icon" src="/assets/img/icon--arrowRightCircle--white.svg" />
        </a>
    </div>
</div>