<footer class="footer grid">
    <div class="footer__top column-12 grid">
        <div class="column-6 footer__logo">
            <img src="/assets/img/logo.svg" />
            <img class="nav__flag" src="/assets/img/flag--ireland.png" />
        </div>
        <div class="column-6 footer__socials">
            <span>info@medibuddy.ie</span>
            <img class="footer__cpd" src="/assets/img/cpd.png" />
        </div>
    </div>
    <div class="footer__main">
        <ul class="footer__links">
            <li><a href="#">General Internal Medicine (GIM)</a></li>
            <li><a href="#">Core Surgical Training (CST)</a></li>
            <li><a href="#">General Practice (GP)</a></li>
            <li><a href="#">Anaesthesiology SST</a></li>
            <li><a href="#">Obstetrics and Gynaecology BST</a></li>
            <li><a href="#">Paediatrics BST</a></li>
            <li><a href="#">Psychiatry BST</a></li>
            <li><a href="#">Radiology</a></li>
        </ul>
    </div>
    <div class="footer__bottom">
        <span>Copyright © 2025 AG Education Ltd.</span>
        <div class="footer__legals">
            <a href="#">Terms</a>&nbsp; · &nbsp;<a href="#">Privacy Policy</a>&nbsp; · &nbsp;<a href="#">Cookie Policy</a>
        </div>
    </div>
</footer>