<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wdth,wght@0,90,400..700;1,90,400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <meta property="og:title" content="{{ page.title }}" />
    <meta name='description' content="{{ page.description }}">
    <meta property="og:image" content="{{ page.og }}" />

    <meta name="google-site-verification" content="NPFpbxWehbuBsyGUzQO_0bGQWRC9wJbF4kOhT6fV82w" />
</head>