<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <script type="text/javascript" src="//embeds.iubenda.com/widgets/d4f3337a-b6b3-4d4e-9c6a-5b1d45ba84ec.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wdth,wght@0,90,400..700;1,90,400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <meta property="og:title" content="{{ page.title }}" />
    <meta name='description' content="{{ page.description }}">
    <meta property="og:image" content="{{ page.og }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-site-verification" content="NPFpbxWehbuBsyGUzQO_0bGQWRC9wJbF4kOhT6fV82w" />
</head>