<nav class="grid grid--full nav">
    <div class="nav__logo column-6">
        <a href="/"><img class="nav__logoImage" src="/assets/img/logo.svg" /></a>
        <ul class="nav__menu">
            <li class="nav__menuItem nav__menuItem--dropdown">
                <img class="nav__flag" src="/assets/img/flag--ireland.png" />
                <img src="/assets/img/icon--caret.svg" />
                <ul class="nav__menuDropdown">
                    <li><a href="https://medibuddy.co.uk"><img class="nav__flag" src="/assets/img/flag--uk.png" /> <span>Medibuddy UK</span></a></li>
                    <!--<li><a href="https://medibuddy.com.au"><img class="nav__flag" src="/assets/img/flag--australia.png" /> <span>Medibuddy Australia</span></a></li>-->
                </ul>
            </li>
        </ul>
        
    </div>
    <ul class="column-6 nav__menu">
        <li class="nav__menuItem nav__menuItem--dropdown">
            <div>Interview<span class="mobile-show">s</span> <span class="mobile-hide">Preparation</span></div> <img src="/assets/img/icon--caret.svg" />
            <ul class="nav__menuDropdown nav__menuDropdown--mega">
                <li><a href="/general-internal-medicine/">General Internal Medicine (GIM)</a></li>
                <li><a href="/core-surgical-training/">Core Surgical Training (CST)</a></li>
                <li><a href="/general-practice/">General Practice (GP)</a></li>
                <li><a href="/anaesthesiology-sst/">Anaesthesiology SST</a></li>
                <li><a href="/obs-and-gynae-bst/">Obstetrics & Gynaecology BST</a></li>
                <li><a href="/paediatrics-bst/">Paediatrics BST</a></li>
                <li><a href="/psychiatry-bst/">Psychiatry BST</a></li>
                <li><a href="/radiology/">Radiology</a></li>
                <li class="nav__menuFeature">
                    <a class="nav__featureLink" href="/basic-specialist-training/applying-to-bst/">
                        <img class="nav__menuFeatureImage" src="/assets/img/map--ireland.png" />
                        <div class="nav__menuFeatureContent">
                            <span class="nav__menuFeatureTitle">Applying to Basic Specialist Training (BST) in Ireland</span>
                            <img style="width: 20px;" src="/assets/img/icon--arrowRightCircle--white.svg" />
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <!--<li class="nav__menuItem"><a href="/contact">Contact us</a></li>-->
    </ul>
</nav>