.testimonial {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonial__quote {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.testimonial__cite {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
}