.article__info {
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    padding: 100px 0 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.article__info h1 {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -1.28px;
}

.article__featuredImage {
    width: 100%;
    height: auto;
    max-height: 560px;
    object-fit: cover;
    margin-top: 40px;
}

.article__meta {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}

.article__title {
    margin-top: -12px;
}

.article__category {
    padding: 4px 8px;
    border: 1px solid $slate-200;
}

.article__author {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.article__authorAvatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.article__content {
    grid-column-start: 3;
    grid-column-end: 11;
    font-size: 18px;
    line-height: 32px;
    font-weight: 450;
    padding-bottom: 72px;
}

.article__content p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 28px;

    &:first-of-type {
        font-size: 28px;
        line-height: 44px;
        font-weight: 500;
    }
}

.article__content h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;
}

.article__content table {
    margin-bottom: 28px;

    th, td {
        padding: 8px 8px;
        background-color: $blue-50;
        text-align: left;
    }

    th {
        background: $blue-700;
        color: white;
    }
}

.article__content ul {
    margin-bottom: 28px;
    padding-left: 32px;
    list-style-type: square;

    ul {
        margin-bottom: 8px;
    }
}

.article__content a {
    color: $blue-700;
}

.article__content img{
    width: 100%;
}

.article__content .float--right {
    float: right;
    margin-left: 28px;
}

.table--big {
    table {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 28px;

        th, td {
            padding: 8px 8px;
            background-color: $blue-50;
        }

        th {
            background: $blue-700;
            color: white;

            &:nth-of-type(2) {
                width: 340px;
            }
        }
    }
}

table .table__academicHeader td {
    background: $blue-200;
}

table .table__researchHeader td {
    background: $green-500
}

table .table__research td {
    background: $green-100
}

table .table__professionalHeader td {
    background: $orange-500
}

table .table__professional td {
    background: $orange-100
}

@media screen and (max-width: 600px) {
    .article__info, .article__content {
        grid-column: span 12;
        padding-left: 16px;
        padding-right: 16px;
    }

    .article__info h1 {
        font-size: 56px;
        line-height: 60px; 
        letter-spacing: -1.1px;
    }

    .article__meta {
        flex-direction: column;
    }
}