@media screen and (max-width: 996px) {
    .interviews__text, .interviews__products {
        grid-column: span 12;
    }

    .interviews__text {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 740px) {
    .interviews__card {
        grid-column: span 12;
    }
}