$blue-50: #ebf5ff;
$blue-100: #e1effe;
$blue-200: #c3ddfd;
$blue-300: #a4cafe;
$blue-400: #76a9fa;
$blue-500: #3f83f8;
$blue-600: #1c64f2;
$blue-700: #1a56db;
$blue-800: #1e429f;
$blue-900: #233876;

$slate-200: #e2e8f0;
$slate-900: #0f172a;